<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Sistema de Control de Stock de Amphora Vinos</a>
                </div>
            </div>
        </nav>
    </header>
    <!--Close Header-->
    <!--Sección Principal-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav dflex justify-between">
                <a href="/add-wine" class="border-shadow">
                    <span class="text-gradient">Nuevo Vino <i class="fa-solid fa-wine-bottle"></i></span>
                </a>
            </div>
            <!--Formulario-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Marca</th>
                            <th>Nombre</th>
                            <th>Uva(s)</th>
                            <th>A&nacute;o</th>
                            <th>Contenido</th>
                            <th>Cantidad</th>
                            <th>Precio por Caja</th>
                            <th>Precio Individual</th>
                            <th>Precio Caja sugerido</th>
                            <th>Precio Individual sugerido</th>
                            <th>Precio Publicado</th>
                            <th>Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25000</td>
                            <td>San Felipe Roble</td>
                            <td>San Felipe Roble Malbec</td>
                            <td>Malbec</td>
                            <td>2021</td>
                            <td>750 ml</td>
                            <td>9</td>
                            <td>$ 2400</td>
                            <td>$ 400</td>
                            <td>$ 3120</td>
                            <td>$ 520</td>
                            <td>$ 600</td>
                            <td>
                                <a href="#" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt" id="pencil"></i></span>
                                </a>
                                <a href="#" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times" id="cross"></i></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!--Close Sección Principal-->
</body>
</html>