<tr>
    <td>25000</td>
    <td>San Felipe Roble</td>
    <td>San Felipe Roble Malbec</td>
    <td>Malbec</td>
    <td>2021</td>
    <td>750 ml</td>
    <td>9</td>
    <td>$ 2400</td>
    <td>$ 400</td>
    <td>$ 3120</td>
    <td>$ 520</td>
    <td>$ 600</td>
    <td>
        <a href="views/update_vino.ejs" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt" id="pencil"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times" id="cross"></i></span>
        </a>
    </td>
</tr>